<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />

    <style>
        .lbl{
            margin-top: 7%;
        }
    </style>

    <script>
        function mostarOcultarPasajeros() {
            var lista = document.getElementById("pasajeros");
            if(lista.style.display == "block"){
                lista.style.display = "none"
            }else{
                lista.style.display = "block"
            }
        }
    </script>

    <title>Anuncio</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img th:src="@{CoffeeCarLogo.png}" th:href="@{/}" src="../static/CoffeeCarLogo.png" class="img-fluid" alt="Responsive image" style="width: 60px">
    <a class="navbar-brand" th:href="@{/}">CoffeCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div th:if="${isDriver} == true" style="padding-left: 5%; padding-right: 5%;">
    <div class="nav container-fluid justify-content-center">
        <form th:action="@{editarAnuncio}" style="width: 45%; margin-top: 1%">
            <input type="hidden" name="announcementURI" th:value="${announcement.getLink('self').get().getHref()}">
            <input type="submit" value="Modificar" class="btn btn-success btn-lg btn-block">
        </form>
    </div>
    <div class="nav container-fluid justify-content-center">
    <form th:action="@{announcementDelete}" method="post" th:object="${announcement}" style="width: 45%; margin-top: 1%" >
        <input type="hidden" name="announcementURI" th:value="${announcement.getLink('self').get().getHref()}">
        <input type="submit" value="Eliminar" class="btn btn-danger btn-lg btn-block">
    </form>
    </div>
</div>

<div style="padding-left: 5%; padding-right: 5%;">
<div th:if="${isPassenger} == true" class="nav container-fluid justify-content-center" style="margin-top: 1%">
    <form  method="post" th:action="@{details/left}" th:object="${announcement}" style="width: 45%">
        <input type="hidden" name="announcementURI" th:value="${announcement.getLink('self').get().getHref()}">
        <input type="submit" value="Abandonar viaje" class="btn btn-dark btn-lg btn-block">
    </form>
</div>
<div th:if="${canJoin} == true" class="nav container-fluid justify-content-center" style="margin-top: 1%">
    <form  method="post" th:action="@{details/join}" th:object="${announcement}" style="width: 45%">
        <input type="hidden" name="announcementURI" th:value="${announcement.getLink('self').get().getHref()}">
        <input type="submit" value="Unirse al viaje" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
</div>
<div class="container-fluid text-center" th:object="${announcement}" style="padding-left: 5%; padding-right: 5%; margin-top: 2%">
    <h1 th:text="*{title}"></h1>
    <h2 th:text="*{arrival}"></h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h5>¿Quién viaja?</h5>
            <h6 class="lbl justify">Conductor</h6>
            <p class="justify" th:text="*{driver.getName()}"></p>
            <h6 class="lbl justify">Asientos ocupados/total</h6>
            <p class="justify lbl" th:text="*{passengers.size() + '/' + seats}"></p>
            <button class="btn btn-secondary btn-sm" onclick="mostarOcultarPasajeros()" id="mostrar">Mostrar pasajeros
            </button>
        </div>
        <br>
        <div class="col-sm-4">
            <h5>¿Cuándo?</h5>
            <h6 class="lbl justify">Fecha de salida</h6>
            <p class="justify" th:text="*{departureTime}"></p>
            <h6 class="lbl justify">Fecha de vuelta</h6>
            <p class="justify" th:text="*{arrivalDate}"></p>
        </div>
        <div class="col-sm-4">
            <h5>Descripción</h5>
            <p class="justify lbl" th:text="*{description}"></p>
        </div>
    </div>
    <div class="nav container-fluid justify-content-center" id="pasajeros" style="display: none; margin-top: 2%; margin-bottom: 1%; padding-left: 5%; padding-right: 5%; width: 50%">
        <ul class="list-group">
            <tr th:each="passenger : ${announcement.getPassengers()}">
                <td>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p th:text="${passenger.getName()}"></p>
                    </li>
                </td>
            </tr>
        </ul>
    </div>
</div>
<br>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div class="row container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%">
    <h5 for="map" style='width: 45%'>Origen</h5>
    <h5 for="mapDes" style='width: 45%; margin-left: 20px'>Destino</h5>
</div>

<div class="row container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%">
    <div id='map' style='width: 45%; height: 300px; border: 4px solid lightsteelblue'></div>
    <div id="mapDes" style="width: 45%; height: 300px; margin-left: 20px; border: 4px solid indianred"></div>
</div>
</div>
<script th:inline="javascript">
    var lati = /*[[${announcement.departureLatitude}]]*/ 1.1;
    var longi = /*[[${announcement.departureLongitude}]]*/ 1.1;

    L.mapbox.accessToken = 'pk.eyJ1IjoiamVzdXNtZyIsImEiOiJjazM2ODlhNjMwcWI2M21wZWozdHZodzdlIn0.DWuZhMtWp053EG-JG1gVgQ';
    var map = L.mapbox.map('map')
        .setView([lati,longi], 12)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    L.marker([lati, longi], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-symbol': 'car',
            'marker-color': '#3ab3da'
        })
    }).addTo(map);

    var stops = /*[[${paradas}]]*/ [];

    stops.forEach(function (parada, index) {
        var marker = L.marker([parada.lat, parada.lon], {
            icon: L.mapbox.marker.icon({
                'marker-size': 'medium',
                'marker-symbol': 'marker',
                'marker-color': '#22ff8e'
            })
        }).addTo(map);
        marker.bindPopup("<b>Lineas:<br>" +  parada.lineas  + "</b><br>Parada " + parada.codParada)
    })

    var stops = /*[[${buses}]]*/ [];

    stops.forEach(function (bus, index) {
        var markerB = L.marker([bus.lat, bus.lon], {
            icon: L.mapbox.marker.icon({
                'marker-size': 'small',
                'marker-symbol': 'bus',
                'marker-color': '#FF3633'
            })
        }).addTo(map);
        markerB.bindPopup("<b>Linea:<br>" +  bus.codLinea)
    })


</script>

<script th:inline="javascript">
    var lo = /*[[${announcement.arrivalLongitude}]]*/ 1.1;
    var la = /*[[${announcement.arrivalLatitude}]]*/ 1.1;
    L.mapbox.accessToken = 'pk.eyJ1IjoiamVzdXNtZyIsImEiOiJjazM2ODlhNjMwcWI2M21wZWozdHZodzdlIn0.DWuZhMtWp053EG-JG1gVgQ';
    var mapDes = L.mapbox.map('mapDes')
        .setView([la,lo], 12)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
    L.marker([la, lo], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-symbol': 'car',
            'marker-color': '#3ab3da'
        })
    }).addTo(mapDes);
    var stopsArrival = /*[[${paradasLlegada}]]*/ [];
    stopsArrival.forEach(function (paradaLlegada, index) {
        var markerDes = L.marker([paradaLlegada.lat, paradaLlegada.lon], {
            icon: L.mapbox.marker.icon({
                'marker-size': 'small',
                'marker-symbol': 'bus',
                'marker-color': '#FF3633'
            })
        }).addTo(mapDes);
        markerDes.bindPopup("<b>Linea " +  paradaLlegada.codLinea  + "</b><br>Parada " + paradaLlegada.codParada)
    })

</script>

<div class="nav container-fluid justify-content-center" style="margin-top: 2% ;padding-left: 5%; padding-right: 5%; height: 350px">
    <img th:src="${announcement.getImgLink()}" src="../static/CoffeeCarLogo.png" alt="Imagen no disponible" style="max-width: 80%; max-height: 80%; border: 2px black">
</div>

<br>
<br>


</body>
</html>