<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />

    <style>
        .lbl{
            margin-top: 7%;
        }
    </style>

    <title>Anuncio</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img th:src="@{CoffeeCarLogo.png}" src="../static/CoffeeCarLogo.png" class="img-fluid" alt="Responsive image" style="width: 60px">
    <a class="navbar-brand" href="#">CoffeCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="nav container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%; height: 350px">
    <img th:src="@{CoffeeCarLogo.png}" src="../static/CoffeeCarLogo.png" alt="..." style="max-width: 100%; max-height: 100%">
</div>
<div class="container-fluid text-center" style="padding-left: 5%; padding-right: 5%">
        <h1>Título</h1>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h5>¿Quién viaja?</h5>
            <h6 class="lbl justify">Conductor</h6>
            <p class="justify">EO</p>
            <h6 class="lbl justify">Asientos ocupados/total</h6>
            <p class="justify">OE</p>
        </div>
        <br>
        <div class="col-sm-4">
            <h5>¿Cuándo?</h5>
            <h6 class="lbl justify">Fecha de salida</h6>
            <p class="justify">hora</p>
            <h6 class="lbl justify">Fecha de vuelta</h6>
            <p class="justify">hora</p>
        </div>
        <div class="col-sm-4">
            <h5>Descripción</h5>
            <p class="justify lbl">Fecha de salida asdñkjbSDSDJLHFLJH  sdfbsdf asdf asdf asdf adsf adsf adf asdf asdfasdf asdf asdf </p>
        </div>

    </div>
</div>
<br>


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div class="row container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%">
    <h5 for="map" style='width: 45%'>Origen</h5>
    <h5 for="mapDes" style='width: 45%; margin-left: 20px'>Destino</h5>
</div>

<div class="row container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%">
    <div id='map' style='width: 45%; height: 300px; border: 4px solid lightsteelblue'></div>
    <div id="mapDes" style="width: 45%; height: 300px; margin-left: 20px; border: 4px solid indianred"></div>
</div>
<br>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiamVzdXNtZyIsImEiOiJjazM2ODlhNjMwcWI2M21wZWozdHZodzdlIn0.DWuZhMtWp053EG-JG1gVgQ';
    var map = L.mapbox.map('map')
        .setView([36.72016, -4.42034], 12)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    L.marker([36.72016, -4.45134], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-symbol': 'car',
            'marker-color': '#3ab3da'
        })
    }).addTo(map);

    L.marker([36.75016, -4.42034], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'small',
            'marker-symbol': 'bus',
            'marker-color': '#FF3633'
        })
    }).addTo(map);
</script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVzdXNtZyIsImEiOiJjazM2ODlhNjMwcWI2M21wZWozdHZodzdlIn0.DWuZhMtWp053EG-JG1gVgQ';
    var mapDes = new mapboxgl.Map({
        container: 'mapDes',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-4.42034, 36.72016],
        zoom: 11
    });

    mapDes.addControl(new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    }));

    mapDes.addControl(new mapboxgl.NavigationControl());

    mapDes.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    }));


    var strDes, strLatDes, strLongDes;

    var markerDes = new mapboxgl.Marker({
    })
        .setLngLat([-4.42034, 36.72016])
        .addTo(mapDes);



</script>




</body>
</html>