<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mb-3" style="margin-left: 1%; margin-right: 1%; padding-top: 1%"
     th:fragment="resultAnnouncements"
     th:unless="${announcements.isEmpty()}">
    <table>
        <th:block th:each="announcement : ${announcements}">
            <tr >
                <td>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${announcement.title}"></h5>
                        <p style="text-align: center" class="card-text" th:text="${announcement.description}"></p>
                        <div class="nav justify-content-center">
                            <form th:action="@{announcementDetails(announcementId=${announcement.id})}">
                                <button type="submit" style="margin-left: 5%" class="btn btn-light">Más detalles</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </th:block>
    </table>
</div>

</body>
</html>